In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Store the CSV you saved created in part one into a DataFrame.
hotel_df = pd.read_csv("WeatherPy_vacation.csv")
hotel_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,2,Carire,BR,79.88,broken clouds,-3.95,-40.47,NaN
1,6,Victoria,BN,82.40,broken clouds,5.28,115.24,Tiara Labuan Hotel
2,10,Hilo,US,84.20,clear sky,19.71,-155.08,Hilo Seaside Hotel
3,22,Lorengau,PG,80.74,overcast clouds,-2.02,147.27,Lorengau Harbourside Hotel
4,29,Nelson Bay,AU,86.00,clear sky,-32.72,152.14,Mantra Aqua

In [41]:
# Choose 5 cities to travel to
robertsport_data = hotel_df.loc[hotel_df['City'] == 'Robertsport']
banfora_data = hotel_df.loc[hotel_df['City'] == 'Banfora']
tombouctou_data = hotel_df.loc[hotel_df['City'] == 'Tombouctou']
gao_data = hotel_df.loc[hotel_df['City'] == 'Gao']
ouallam_data = hotel_df.loc[hotel_df['City'] == 'Ouallam']

ouallam_data

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
115,464,Ouallam,NE,85.87,clear sky,14.32,2.08,NaN

In [32]:
list_of_cities = [robertsport_data, banfora_data, 
                  tombouctou_data, gao_data, ouallam_data]

destination_cities_df = pd.concat(list_of_cities)

destination_cities_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
108,431,Robertsport,LR,82.45,scattered clouds,6.75,-11.37,Kwepunha Retreat
31,142,Banfora,BF,78.22,clear sky,10.64,-4.75,Residences David Hebié
105,413,Tombouctou,ML,84.76,few clouds,16.77,-3.01,Hotel Sahara Passion
56,241,Gao,ML,82.40,clear sky,16.28,-0.04,Auberge Escale Saneye
115,464,Ouallam,NE,85.87,clear sky,14.32,2.08,NaN

(10.64, -4.75)

In [59]:
# Want to travel from Robertsport -> Banfora -> Tombouctou -> Gao -> Ouallam
start = (robertsport_data.iloc[0]['Lat'], robertsport_data.iloc[0]['Lng'])
finish = (ouallam_data.iloc[0]['Lat'], ouallam_data.iloc[0]['Lng'])

stop_1 = (banfora_data.iloc[0]['Lat'], banfora_data.iloc[0]['Lng'])
stop_2 = (tombouctou_data.iloc[0]['Lat'], tombouctou_data.iloc[0]['Lng'])
stop_3 = (gao_data.iloc[0]['Lat'], gao_data.iloc[0]['Lng'])

fig = gmaps.figure()
route = gmaps.directions_layer(start, finish, 
                               waypoints=[stop_1, stop_2, stop_3],
                               travel_mode='DRIVING')

fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Template for pop-up marker
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

In [62]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in destination_cities_df.iterrows()]

In [64]:
# Create a marker map
fig = gmaps.figure()

marker_layer = gmaps.marker_layer([start, finish, stop_1, stop_2, stop_3], 
                                  info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))