In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
hotel_df = pd.read_csv("WeatherPy_vacation.csv")
hotel_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,2,Carire,BR,79.88,broken clouds,-3.95,-40.47,NaN
1,6,Victoria,BN,82.40,broken clouds,5.28,115.24,Tiara Labuan Hotel
2,10,Hilo,US,84.20,clear sky,19.71,-155.08,Hilo Seaside Hotel
3,22,Lorengau,PG,80.74,overcast clouds,-2.02,147.27,Lorengau Harbourside Hotel
4,29,Nelson Bay,AU,86.00,clear sky,-32.72,152.14,Mantra Aqua

In [6]:
# Set city name as the index
hotel_df.set_index('City', inplace=True)

In [15]:
# Choose 5 cities to travel to
robertsport_data = hotel_df.loc['Robertsport']
banfora_data = hotel_df.loc['Banfora']
tombouctou_data = hotel_df.loc['Tombouctou']
gao_data = hotel_df.loc['Gao']
ouallam_data = hotel_df.loc['Ouallam']

ouallam_data

City_ID                      464
Country                       NE
Max Temp                   85.87
Weather Description    clear sky
Lat                        14.32
Lng                         2.08
Hotel Name                   NaN
Name: Ouallam, dtype: object

In [13]:
# Combine Series into single DataFrame
cols = ['City_ID', 'Country', 'Max Temp', 'Weather Description',
          'Lat', 'Lng', 'Hotel Name']

list_of_cities = [robertsport_data, banfora_data, 
                  tombouctou_data, gao_data, ouallam_data]

destination_cities_df = pd.DataFrame(list_of_cities, columns=cols)

destination_cities_df

,City_ID,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
Robertsport,431,LR,82.45,scattered clouds,6.75,-11.37,Kwepunha Retreat
Banfora,142,BF,78.22,clear sky,10.64,-4.75,Residences David Hebié
Tombouctou,413,ML,84.76,few clouds,16.77,-3.01,Hotel Sahara Passion
Gao,241,ML,82.40,clear sky,16.28,-0.04,Auberge Escale Saneye
Ouallam,464,NE,85.87,clear sky,14.32,2.08,NaN

In [19]:
# Want to travel from Robertsport -> Banfora -> Tombouctou -> Gao -> Ouallam
start = (robertsport_data['Lat'], robertsport_data['Lng'])
finish = (ouallam_data['Lat'], ouallam_data['Lng'])

stop_1 = (banfora_data['Lat'], banfora_data['Lng'])
stop_2 = (tombouctou_data['Lat'], tombouctou_data['Lng'])
stop_3 = (gao_data['Lat'], gao_data['Lng'])

fig = gmaps.figure()
route = gmaps.directions_layer(start, finish, 
                               waypoints=[stop_1, stop_2, stop_3], 
                               travel_mode='DRIVING')

fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))